
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  
}
.top-panel {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  min-width: 120px;
  text-align: center;
}

.card span {
  font-size: 12px;
  color: #666;
}

.card strong {
  font-size: 18px;
  display: block;
  margin-top: 4px;
}
.preview {
  border: 2px dashed #ffa502;
}

button {
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #ff4757;
  color: white;
  font-weight: bold;
}
.scene{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
#seesaw{
    position: relative;
    width: 400px;
    height: 8px;
    background: #ffa502;
    border-radius: 4px;
    transform-origin: center center;
    transition: transform 0.6s ease;
    cursor: pointer;
}
.pivot{
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 24px solid #110b01;
    transform: translateX(-50%);
    top: 4px;
}   

.weight {
  position: absolute;
  top: -18px;
  width: 16px;
  height: 16px;
  background: #e63946;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #fff;
  user-select: none;
  pointer-events: none;
}