
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  
}


.top-panel {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  min-width: 120px;
  text-align: center;
}

.card span {
  font-size: 12px;
  color: #666;
}

.card strong {
  font-size: 18px;
  display: block;
  margin-top: 4px;
}
.preview {
  border: 2px dashed #ffa502;
}

button {
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #ff4757;
  color: white;
  font-weight: bold;
}